.signup-main {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0px 50px 0px;
  background-color: #add8e6;
}
.signup-form {
  box-shadow: 2px 2px 2px rgb(112, 112, 112);
  width: 400px;
  padding: 20px 0px 60px 0px;
  background-color: white;
  border-radius: 10px;
}
.signup-form img {
  width: 40px;
  height: 40px;
}
.signup-form h2 {
  margin-top: 0px;
}
.signup-form input {
  width: 80%;
  height: 35px;
  padding-left: 10px;
  font-size: 15px;
}
.signup-form button {
  width: 84%;
  border: none;
  background-color: rgb(0, 67, 138);
  border: 1px solid rgb(0, 67, 138);
  color: white;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
}
.signup-form button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(0, 67, 138);
}
